<div class="card">
    {% for image in recipe.image %}
      <img src="{{ image.url }}" alt="{{ image.title }}" class="card-img-top" />
    {% else %}
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAjTyV82ZnWf2TvhqzqS1Rwfcz9T0laA37aI5ess-hHQF9ylLu087Bd8y_7LNufOp_d_Qj60ohW-lJAsL0muKAzTguBwNDUWcOpTR35jmX" alt="Image non disponible" class="card-img-top" alt="Image non disponible" class="card-img-top" />
    {% endfor %}
    <div class="card-body">
      <h5 class="card-title">{{ recipe.title }}</h5>
      <p class="card-text">{{ recipe.difficulty}} | {{recipe.duration}} min | {{recipe.peopleCount}} personnes</p>
      <a href="" class="btn btn-primary">Voir la recette</a>
    </div>
  </div>
  