{% extends 'base.html.twig' %}

{% block title %}Détails de la recette{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center min-vh-100 mt-5">
    <div class="card" style="width: 30rem;">
        {# Affichage de l'image de la recette #}
        {% for image in recipe.image %}
            <img src="{{ image.url }}" alt="{{ image.title }}" class="card-img-top" />
        {% else %}
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAjTyV82ZnWf2TvhqzqS1Rwfcz9T0laA37aI5ess-hHQF9ylLu087Bd8y_7LNufOp_d_Qj60ohW-lJAsL0muKAzTguBwNDUWcOpTR35jmX" alt="Image non disponible" class="card-img-top" />
        {% endfor %}
        
        <div class="card-body">
            <h5 class="card-title">{{ recipe.title }}</h5>

            {# Affichage de la difficulté avec une couleur #}
            <p class="
                {% if recipe.difficulty == 'Facile' %}text-success
                {% elseif recipe.difficulty == 'Moyenne' %}text-warning
                {% elseif recipe.difficulty == 'Difficile' %}text-danger
                {% else %}text-secondary{% endif %}">
                {{ recipe.difficulty }}
            </p>

            {# Autres informations de la recette #}
            <p class="card-text">
                <strong>Durée :</strong> {{ recipe.duration }} min<br>
                <strong>Nombre de personnes :</strong> {{ recipe.peopleCount }}<br>

                {# Liste des ingrédients #}
                <strong>Ingrédients :</strong>
                <ul>
                    {% for ingredient in recipe.ingredients %}
                        <li>{{ ingredient.name }} </li>
                    {% endfor %}
                </ul>
            </p>
            <div class="div">
                <p>Auteur : Fanny</p>
                <p>Date de création : </p>
                <p>Content</p>
            </div>
            <a href="{{ path('home_index')}}" class="btn btn-primary">Retour</a>
        </div>
    </div>
</div>
{% endblock %}
